*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    --front-color: rgb(162, 239, 162);
    --back-color: rgb(147, 70, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
}

#root, .App{
    min-height: 100vh;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Board{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.Best-Score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}